/*
  Nav Styles
*/

.topnav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.page-content {
  position: absolute;
  width: calc(100% - 20px);
  height: 100%;
  top: 3.5em;
}

.nav-line {
  position: absolute;
  border-bottom: thin solid white;
  width: 55px;
  z-index: 1;
}


/*
    Grid styles
*/

.grid {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

.grid.visible {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.grid-item {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  transition: all 350ms cubic-bezier(0.5, 0, 0.2, 1);
}

@media only screen and (min-width: 70em) {
  .grid-item {
    width: calc((100% - 20px)/3);
  }
  .grid-item.extra-wide {
    width: calc(2*(100% - 20px)/3)
  }
}

@media only screen and (min-width: 50em) and (max-width: 70em) {
  .grid-item {
    width: calc((100% - 10px)/2);
  }
  .grid-item.extra-wide {
    width: 100%
  }
}

.grid-item:hover {
  opacity: 0.9;
  transform: scale(1.005);
  box-shadow: 0 20px 50px -15px rgba(0,0,0,0.35);
  cursor: pointer;
}

.grid-item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lazyload {
  background: #f7f7f7;
}

.lazyloading {
  background: #f7f7f7 url(http://afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}


/*
    Upload styles
*/

.admin {
  position: absolute;
  top: 0;
}

.admin #upload,
.admin #reorder,
.admin .dropzone {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

.admin.visible #upload,
.admin.visible #reorder,
.admin.visible .dropzone {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}


.img-preview {
    width: 200px;
    height: auto;
}

/*

    Modal styles

*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 100vw;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*

  Page styles

*/

/*.hidden {
 visibility: hidden;
}

.visible {
  visibility: visible;
}*/
