div.grid-item {
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 350ms cubic-bezier(0.5, 0, 0.2, 1);
}

div.grid-item:hover {
  transform: scale(1.005);
  box-shadow: 0 20px 50px -15px rgba(0,0,0,0.35);
}
